.navbar-more {
    display: none;
    padding: 0 16px;
}

.header-more__icon {
    font-size: 2.4rem;
    color: #000;
}


/* Mobile */

@media only screen and ( max-width:46.1875em) {
     :root {
        --header-height: unset;
    }
    .navbar {
        padding: 10px 0;
    }
    .navbar__list {
        display: none;
    }
    .navbar__item-search {
        display: none;
    }
    .navbar__logo-img {
        max-height: 60px;
    }
    .navbar-more {
        min-width: 10%;
        display: block;
    }
    .navbar__item-img {
        fill: var(--primary-color);
    }
    .navbar__list-icon {
        max-width: unset;
    }
    .navbar__list-icon {
        padding: 0 9px 0 6px;
    }
    .search-header {
        display: block;
    }
    .sticky-header .navbar__logo {
        display: none;
    }
    .sticky-header .search-header__result {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    .sticky-header .search-header__container {
        padding: 0;
    }
    /* Home */
    .main-header+.main-container {
        padding-top: calc(var(--top-bar-height) + 80px + 42px);
    }
}


/* Tablet */

@media only screen and ( min-width:46.25em) and (max-width:63.9375em) {
     :root {
        --header-height: unset;
    }
    .navbar {
        padding: 10px 0;
    }
    .wide {
        min-width: 100%;
    }
    .navbar__list {
        display: none;
    }
    .navbar__item-search {
        display: none;
    }
    .navbar-more {
        min-width: 10%;
        display: block;
    }
    .navbar__logo-img {
        max-height: 60px;
    }
    .navbar__item-img {
        fill: var(--primary-color);
    }
    .search-header {
        display: block;
    }
    .sticky-header .navbar__logo {
        display: none;
    }
    .sticky-header .search-header__result {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    .sticky-header .search-header__container {
        padding: 0;
    }
    /* Home */
    .main-header+.main-container {
        padding-top: calc(var(--top-bar-height) + 80px + 42px);
    }
}