:root {
    --primary-color: #66a55f;
    --header-height: 129px;
    --top-bar-height: 29px;
}

* {
    box-sizing: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif !important;
    box-sizing: border-box;
}

.app {
    position: relative;
}

.main-header+.main-container {
    padding-top: var(--header-height);
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 2px rgb(0, 0, 0, 10%) inset;
    box-shadow: 0 0 2px rgb(0, 0, 0, 10%) inset;
    background-color: #fff;
    height: var(--header-height);
    z-index: 1;
}

.sticky-header .topbar {
    display: none;
}

.main-header.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0, 20%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0, 20%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    height: auto;
}

.sticky-header .navbar {
    height: auto;
}

.sticky-header.main-header.sticky-header--show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    visibility: visible;
    opacity: 1;
}

.topbar {
    background-color: var(--primary-color);
    text-align: center;
    height: var(--top-bar-height);
}

.topbar__title {
    margin: 0;
    padding: 4px 0;
    font-size: 1.2rem;
    color: #fff;
    line-height: 2.1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-height) - var(--top-bar-height));
}

.navbar__item-control {
    z-index: 99;
}

.header-more__site {
    display: inline-block;
}

.navbar-more__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    will-change: transform;
}

.dropdown--show .navbar-more__dropdown {
    visibility: visible;
    opacity: 1;
}

.navbar-more__dropdown .box-triangle {
    position: absolute;
    width: 22px;
    height: 15px;
    left: 15px;
}

.navbar-more__content {
    box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 10%);
}

.navbar-more__wrapper {}

.navbar-more__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navbar-more__item {
    position: relative;
}

.navbar-more__link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 15px 15px 0px;
    margin-left: 15px;
    border-bottom: 1px solid #eeeeee;
    color: #252a2b;
}

.navbar-more__link:hover {
    color: var(--primary-color);
}

.navbar-more__icon {
    position: absolute;
    right: 10px;
    color: #757575;
}

.navbar-more__contact {}

.navbar-more__contact-container {
    padding: 16px 20px;
}

.navbar-more__contact-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #252a2b;
    line-height: 1.85;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.navbar-more__contact-wrapper {
    display: flex;
    align-items: center;
}

.navbar-more__contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.navbar-more__contact-link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #415255;
    font-size: 14px;
    font-weight: 700;
}

.navbar__logo {
    max-width: 20%;
    padding: 0 6px;
}

.navbar__logo-link {
    display: block;
    text-decoration: none;
}

.sticky-header .navbar__logo-img {
    height: 42px;
}

.navbar__logo-img {
    max-width: 100%;
    width: 150px;
    object-fit: contain;
    height: 100px;
    display: block;
}

.navbar__list {
    display: flex;
    list-style: none;
    flex: 1;
    text-align: center;
    padding-left: 0;
    justify-content: center;
    margin: 0;
}

.navbar__item {
    display: inline-flex;
    position: relative;
}

.navbar__item:hover .navbar__item-link-icon {
    transform: rotate(180deg);
}

.sticky-header .navbar__item-link {
    padding: 20px 0px;
    color: var(--primary-color);
}

.navbar__item-link {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    padding: 25px 0px;
    margin: 0 12px;
    position: relative;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

.navbar__item-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    transform-origin: left center;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    border-bottom: 2px solid transparent;
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
}

.navbar__item-link:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    border-bottom: 2px solid var(--primary-color);
}

.navbar__item--active .navbar__item-link {
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    border-bottom: 2px solid #000;
}

.sticky-header .navbar__item--active .navbar__item-link {
    border-bottom: 2px solid var(--primary-color);
}

.navbar__item--active .navbar__item-link:hover {
    border-bottom: 2px solid var(--primary-color);
}

.navbar__item--active .navbar__item-link:hover::before {
    border: none;
}

.navbar__item-link:hover {
    color: var(--primary-color);
}

.navbar__item-link-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
    margin-left: 4px;
    margin-bottom: 2px;
}

.navbar__list-icon {
    position: relative;
    max-width: 15%;
    padding: 0 15px;
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar__item-icon {
    padding: 0 6px;
    height: 40px;
    z-index: 99;
}

.dropdown--show .header__dropdown {
    z-index: 3;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
}

.navbar__item-icon-link {
    position: relative;
    text-align: center;
    width: 32px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.sticky-header .navbar__item-icon .navbar__item-img {
    fill: var(--primary-color);
}

.navbar__item-img {
    width: 22px;
    height: 40px;
}

.navbar__item-img-cart {
    height: 38px;
}

.navbar__sub-menu-list {
    border-top: 2px solid #000;
}

.navbar__sub-menu-list {
    padding-left: 0;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 4px 12px rgb(0, 0, 0, 10%);
    transform: rotate3d(1, 0, 0, -90deg);
    transform-origin: 0 0 0;
    /*  */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar__list li:hover>.navbar__sub-menu-list {
    transform: rotate3d(0, 0, 0, 0deg);
}

.navbar__sub-menu-item {
    position: relative;
}

.navbar__sub-menu-item:hover .navbar__sub-menu-icon {
    transform: rotate( 180deg);
}

.navbar__sub-menu-item:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}

.navbar__sub-menu-item-link {
    text-decoration: none;
    display: block;
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    font-size: 1.4rem;
    color: #000;
}

.navbar__sub-menu-item-link:hover {
    color: var(--primary-color);
}

.navbar__sub-menu-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    margin-left: 4px;
    margin-bottom: 2px;
}

.navbar__sub-menu-list .navbar__sub-menu-list {
    left: 100%;
    top: -2px;
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -moz-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
}

.navbar__item-icon:hover .navbar__item-icon-link .svg-icon-search {
    transform: rotate( -5deg);
}

.count-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    overflow: hidden;
}

.count-holder .count {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.count {
    transition: top 150ms linear;
    position: relative;
    top: 0px;
    animation-duration: 300ms;
    animation-name: scroll-in;
    color: var(--primary-color);
}

.navbar__item-icon:hover .count {
    animation-name: scroll-out;
}

@keyframes scroll-in {
    0% {
        top: 2px
    }
    49% {
        top: -14px
    }
    50% {
        top: 19px
    }
    100% {
        top: 2px
    }
}

@keyframes scroll-out {
    0% {
        top: 2px
    }
    49% {
        top: 19px
    }
    50% {
        top: -14px
    }
    100% {
        top: 2px
    }
}

.sticky-header .header__dropdown {
    top: calc(100% + 2px);
}

.header__dropdown {
    position: absolute;
    background-color: #fff;
    top: calc(100% + 10px);
    right: 0;
    border-radius: 3px;
    border: solid 1px #dfe3e8;
    box-shadow: 0 1px 5px 2px rgb(0, 0, 0, 10%);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    will-change: transform;
}

.search-header__dropdown {
    width: 400px;
}

.header__dropdown-content {
    text-align: center;
    padding: 20px 15px;
}

.search-header__dropdown-title {
    padding: 6px 10px;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    margin: 0 0 20px;
    border-bottom: 1px solid #ededed;
}

.search-header__dropdown-box-search {
    position: relative;
    background-color: #f5f5f5;
    margin-bottom: 15px;
}

.search-header__input {
    width: 100%;
    padding: 0 55px 0 20px;
    font-size: 1.4rem;
    height: 45px;
    border: 1px solid #ececec;
    background-color: #f5f5f5;
    transition: all 150ms linear;
}

.search-header__input:focus {
    background: #ffffff;
    outline: none;
    border-color: var(--primary-color);
}

.search-header__result {}

.search-header__result-list {
    padding-left: 0;
    list-style: none;
}

.search-header__result-item {
    padding: 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px dotted #dfe0e1;
}

.search-header__result-item-link {
    text-decoration: none;
    width: 40px;
    height: 40px;
}

.search-header__result-item-img {
    width: 100%;
}

.search-header__result-item-desc {
    flex: 1;
    padding-right: 5px;
    text-align: left;
    overflow: hidden;
}

.search-header__result-item-title {
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    line-height: 2rem;
    margin-bottom: 4px;
    color: #252a2b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-header__result-item-price {
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    color: #575d5f;
}

.search-header__result-item-more-link {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #252a2b;
    display: block;
}

.search-header__result-item-more-link:hover {
    color: var(--primary-color);
}

.search-header__dropdown-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 4.5rem;
    background-color: transparent;
    right: 0;
    z-index: 10;
}

.box-triangle {
    position: absolute;
    bottom: calc(100% - 5px);
    right: 115px;
    width: 22px;
    height: 15px;
}

.box-triangle svg {
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
    -webkit-filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}

.search-header__dropdown-icon {
    width: 18px;
    opacity: .4;
}

.use-header__dropdown {
    width: 340px;
}

.user-header__title {
    margin: 0 0 4px;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    text-transform: uppercase;
    color: #252a2b;
}

.user-header__content-title {
    margin: 0 0 10px 0;
    line-height: 2.1rem;
    font-size: 1.2rem;
}

.use-header__dropdown .box-triangle {
    right: 69px;
}

.cart-header__dropdown .box-triangle {
    right: 24px;
}

.cart-header__dropdown {
    width: 450px;
    padding: 20px 0;
}

.cart-header__dropdown .header__dropdown-content {
    padding: 0;
}

.cart-header__title {
    padding: 0 20px;
}

.cart-header__title-content {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    padding: 6px 10px;
    margin: 0;
    line-height: 2.1rem;
    background: #f3f5f6;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #e7ebec;
}

.cart-header__site-cart {}

.cart-header__list-cart {
    padding-left: 0;
    list-style: none;
    overflow-y: scroll;
    max-height: 340px;
}

.cart-header__list-cart::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: var(--primary-color);
}

.cart-header__list-cart::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.cart-header__list-cart::-webkit-scrollbar {
    width: 2px;
}

.cart-header__item-cart {
    display: flex;
    margin: 0 20px;
}

.cart-header__item-cart:not(:last-child) {
    border-bottom: 1px dotted #bcbcbc;
}

.cart-header__box-img {
    width: 65px;
    height: 65px;
    padding: 10px;
    box-sizing: unset;
}

.cart-header__img {
    width: 100%;
    border: 1px solid #ededed;
    box-sizing: border-box;
}

.cart-header__desc {
    flex: 1;
    margin: 10px;
    overflow: hidden;
}

.cart-header__box-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.cart-header__name-brand {
    font-size: 1.2rem;
    flex: 1;
    text-align: left;
    overflow: hidden;
}

.cart-header__name {
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: #252a2b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-right: 12px;
}

.cart-header__brand {
    display: block;
    color: #677279;
    line-height: 2.1rem;
}

.cart-header__remove-link {
    width: 20px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #E7EBEC;
    text-decoration: none;
}

.cart-header__remove-icon {
    width: 8px;
    fill: #000;
}

.cart-header__quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header__quantity {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    min-width: 25px;
    background: #f5f5f5;
    font-size: 1.3rem;
    border-radius: 3px;
}

.cart-header__price {
    font-size: 13px;
    font-weight: 800;
    color: #333;
}

.cart-header__footer {
    padding: 0 20px;
}

.header__dropdown-content .line {
    border-top: 1px solid #e1e3e4;
    margin: 10px 0px;
}

.cart-header__total {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.cart-header__total-title {
    font-size: 12px;
    color: #677279;
    text-transform: uppercase;
    margin: 10px;
}

.cart-header__total-number {
    font-weight: 800;
    font-size: 1.6rem;
    color: red;
    margin: 10px;
}

.cart-header__btn-list {
    display: flex;
    margin: 0 -10px;
}

.cart-header__btn {
    flex: 1;
    padding: 14px 15px;
    line-height: 15px;
    font-size: 1.2rem;
    height: 45px;
}

.cart-header__btn {
    margin: 10px;
}

.header-form__group {
    position: relative;
    margin-bottom: 12px;
}

.header-form__input {
    width: 100%;
    height: 42px;
    border: 1px solid #d4d6d8;
    outline: none;
    display: block;
    font-size: 1.3rem;
    color: #1e2d7d;
    border-radius: 2px;
    padding: 14px 10px 2px;
    box-shadow: 0 1px rgb(212, 214, 216, 25%) inset;
}

.header-form__input:valid+.header-form__label {
    -webkit-transform: translateY(-6px) scale(0.8);
    transform: translateY(-6px) scale(0.8);
}

.header-form__input:focus+.header-form__label {
    -webkit-transform: translateY(-6px) scale(0.8);
    transform: translateY(-6px) scale(0.8);
}

.header-form__label {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 4.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #677279;
    pointer-events: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header-form-btn {
    --height-btn: 42px;
    line-height: var(--height-btn);
    height: var(--height-btn);
}

.user-header__option {
    margin-top: 16px;
}

.user-header__option-item {
    margin: 0 0 4px;
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin: 0 0 4px;
}

.user-header__option-link {
    text-decoration: none;
    color: var(--primary-color);
}

.header__dropdown-site-option {
    height: 267px;
    position: relative;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.header__dropdown-site {
    position: absolute;
    width: 100%;
    visibility: hidden;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__site-login {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
}

.header__dropdown-site.header__dropdown-site--isSelected {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.dropdown--show .header__dropdown-site.header__dropdown-site--isSelected {
    visibility: visible;
}

.header__site-forgot {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.dropdown__option-list {}

.dropdown__option-item {
    padding: 4px 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.header-form__description {
    color: #9e9e9e;
    font-size: 13px;
    text-align: left;
    padding: 6px 0 0;
    margin: 0;
}

.dropdown__option-label {
    font-weight: 700;
    color: #677279;
}

.header-form-forgot {
    display: none;
}

.header-form-forgot.is-show {
    display: block;
}

.btn-form-forgot {
    margin-top: 12px;
}

.search-header {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
}

.search-header__container {
    padding: 5px;
    background-color: #fff;
}

.search-header__form {
    position: relative;
}

.search-header__input-responsive {
    height: 32px;
    outline: none;
    background: #f5f5f5;
    border: 1px solid #ececec;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 40px 0 10px;
    transition: all 150ms linear;
    font-weight: 500;
}

.search-header__input-responsive:focus {
    background: #fff;
}

.search-header__btn-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 32px;
    background: transparent;
}

.search-header__icon {
    width: 1.4rem;
    opacity: 0.4;
}

.sticky-header .search-header {
    top: 50%;
    transform: translateY(-50%);
    padding: 0 105px 0 55px;
}

.sticky-header .search-header__result-list {
    padding: 0 5px;
}


/* .sticky-header .navbar {
    height: 40px;
} */


/* Home content */

.main-container {}

.home-banner {
    height: 422px;
}

.home-banner__site {
    position: relative;
    --margin-top-control: 50%;
    overflow: hidden;
}

.home-banner__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.home-banner__list-slider {
    display: flex;
    position: relative;
    transition: transform 0.25s ease;
}

.home-banner__slider-item {
    height: 100%;
    flex: 1 0 100%;
    width: 100%;
}

.home-banner__img {
    width: 100%;
    vertical-align: middle;
}

.home-banner__nav-controls {}

.home-banner__btn-control {
    font-size: 2.7rem;
    top: var(--margin-top-control);
    background-color: transparent;
    padding: 0;
}

.home-banner__btn-control-prev {
    position: absolute;
    left: 15px;
}

.home-banner__btn-control-next {
    position: absolute;
    right: 15px;
}

.home-banner__dot-controls {
    position: absolute;
    bottom: 28px;
    text-align: center;
    width: 100%;
}

.home-banner__icon-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 3px;
    cursor: pointer;
}

.home-banner__icon-dot--active {
    background: #fff;
}

.home-category {
    /* margin-top: 15px; */
}

.home-category__list {}

.home-category__wrapper {
    padding: 0 15px;
}

.home-category__item {
    margin-top: 15px;
}

.home-category__content {
    position: relative;
    overflow: hidden;
}

.home-category__link {
    display: block;
}

.home-category__content:hover .home-category__img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.home-category__img {
    vertical-align: middle;
    width: 100%;
    -webkit-transition: -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.home-category__caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 20px;
}

.home-category__title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 12px;
    color: #fff;
    text-transform: uppercase;
}

.home-category__link-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 6px 12px;
    line-height: 2rem;
}

.home-category__link-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}


/* New product section */

.new-product {
    margin-bottom: 70px;
}

.new-product__title {
    padding: 50px 0;
    text-align: center;
    line-height: 1.6;
    margin: 0;
}

.new-product__link {
    font-size: 3.7rem;
    text-decoration: none;
    color: #252a2b;
    font-weight: 500;
}

.new-product__btn-more-container {
    text-align: center;
    margin-top: 20px;
}

.new-product__btn-more {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 10px 40px;
    position: relative;
    height: 39px;
    line-height: 39px;
    transition: 0.2s ease all;
}


/* Blog category */

.home-category__content {
    overflow: hidden;
}

.home-category__link {}

.home-category__caption-blog {
    position: absolute;
    bottom: 50px;
    padding: 0 50px;
    color: #fff;
}

.home-category__subtitle-blog {
    font-weight: 400;
    font-size: 1.5rem;
}

.home-category__title-blog {
    font-size: 2.3rem;
    margin: 15px 0;
    font-weight: 500;
}

.home-category__btn-blog {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid #fff;
    padding: 10px 28px;
    height: 37px;
}

.home-category__btn-blog:hover {
    color: #fff;
}

.home-category__caption-blog .btn-primary-hover::before {
    background-color: #fff;
}

.policy-home__wrapper {
    background-color: #9db97b;
}

.policy-home__item {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.policy-home__link {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.policy-home__img {
    width: 40px;
    height: auto;
}

.policy-home__item:hover .policy-home__title {
    text-decoration: underline;
}

.policy-home__title {
    font-weight: 700;
    line-height: 2.1rem;
}

.policy-home__description {
    line-height: 2.1rem;
}


/* Home information */

.home-information {
    margin-top: 40px;
    padding-right: 85px;
    background-color: #f5f5f5;
}

.home-information__wrapper {
    display: flex;
}

.home-information__banner {
    position: sticky;
    max-height: 100vh;
    top: 0;
    width: 50%;
}

.home-information__banner-content {
    position: absolute;
    top: 45%;
    left: 52px;
    width: 80%;
    line-height: 6.4rem;
    z-index: 4;
}

.home-information__banner-title {
    color: #fff;
    font-size: 5.4rem;
    margin: 0;
    font-weight: 700;
}

.home-information__banner-btn {
    margin-top: 65px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #000;
    padding: 0 28px;
    height: 37px;
}

.home-information__banner-btn:hover {
    color: #fff;
}

.home-information__banner-btn::before {
    background-color: #fff;
}

.home-information__background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover";
    -ms-transition: opacity 150ms linear;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.home-information__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background 200ms linear;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-information__background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    transition: opacity 200ms linear, background 200ms linear;
}

.home-information__container {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 50%;
}

.home-information__site-info {
    padding: 100px 15px;
    max-width: 80%;
    margin: auto;
    font-weight: 500;
    overflow: hidden;
}

.home-information__site-info p,
span {
    font-family: 'Quicksand', sans-serif !important;
}

.home-information__site-info span {
    line-height: 1.5;
}

.home-information img {
    max-width: 100%;
    vertical-align: middle;
}

.home-informfelation ul {
    padding-left: 0;
    ;
}


/* footer */

.main-footer {}

.top-footer {
    background: #f3f3f3;
    padding: 15px 0;
    font-size: 1.4rem;
}

.block-newsletter {
    display: flex;
    align-items: center;
}

.block-newsletter__title {
    width: 26%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.block-newsletter__title h4 {
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 450;
    border-right: 1px solid #e7e7e7;
    margin: 0;
}

.block-newsletter__img {
    width: 20px;
    object-fit: contain;
}

.block-newsletter__form {
    width: 100%;
    position: relative;
}

.contact-form {}

.contact-form__input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    padding: 0 20px;
    border: 1px solid #e7e7e7;
}

.contact-form__btn {
    position: absolute;
    right: 0;
    height: 45px;
    padding: 13px 25px;
}

.block-phone {
    margin: 10px 0;
    line-height: 2.5rem;
}

.block-phone i {
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 24px;
    margin-right: 5px;
}

.block-phone a {
    color: red;
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none;
}

.footer-bottom {
    font-size: 1.4rem;
    line-height: 2.1rem;
    height: 59px;
    padding: 40px 0 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.footer-bottom__item {}

.footer-bottom__title {
    margin: 0 0 20px 0;
    line-height: 3rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 450;
}

.footer-bottom .footer-bottom__content ul {
    text-decoration: none;
    padding-left: 0;
    list-style: none;
}

.footer-bottom .footer-bottom__content ul li {
    line-height: 2.8rem;
}

.footer-bottom .footer-bottom__content a {
    text-decoration: none;
    color: #000;
    line-height: 1.8rem;
}

.footer-bottom .footer-bottom__contact ul li {
    line-height: 2.2rem;
}

.footer-bottom__logo a img {
    width: 150px;
}

.footer-bottom__contact .contact-item-1 {
    background: rgba(0, 0, 0, 0) url(https://theme.hstatic.net/200000271661/1000739236/14/icon_footer_1.png?v=153) no-repeat scroll 0px 12px;
}

.footer-bottom__contact ul li {
    padding: 8px 0px 5px 25px;
    background-size: 15px 15px !important;
    line-height: 22px;
    font-size: 14px;
}

.footer-bottom__contact .contact-item-2 {
    background: rgba(0, 0, 0, 0) url(https://theme.hstatic.net/200000271661/1000739236/14/icon_footer_2.png?v=153) no-repeat scroll 0px 12px;
}

.footer-bottom__contact .contact-item-3 {
    background: rgba(0, 0, 0, 0) url(https://theme.hstatic.net/200000271661/1000739236/14/icon_footer_3.png?v=153) no-repeat scroll 0px 12px;
}

.footer-bottom__contact .contact-item-4 {
    background: rgba(0, 0, 0, 0) url(https://theme.hstatic.net/200000271661/1000739236/14/icon_footer_4.png?v=153) no-repeat scroll 0px 12px;
}

.footer-bottom__content {
    overflow: hidden;
}